.panel-container{
    margin: 40px;
    border: 1px black solid;
    display:flex;
    flex-direction: row-reverse;
    background-color:beige
}

.panel-button{
    display:flex;
    align-items: center;

    
}

.title{
    display:flex;
    margin-right:75px;
    
    align-items: center;
    justify-content:center;
}

.users{
    margin-right: 400px;
    display:flex;
    align-items:center;

}